Repository nikkeyl/Sandevistan: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

fix: charsLimit.js
  src/js/components/forms/charsLimit.js
  src/js/components/forms/wordLimit.js
Due: eslint --fix

refactor: js imports
  src/js/app.js
  src/js/components/clock.js
  src/js/components/forms/Select.js
  src/js/components/forms/formSubmit.js
  src/js/components/forms/formValidate.js
  src/js/components/map.js
  src/js/helpers/bodyLockToggle.js
  src/js/helpers/goToBlock.js
  src/js/helpers/isHidden.js
  src/js/vendors/InputMask.js
  src/js/vendors/Typed.js
  src/js/vendors/datePicker.js
  src/js/vendors/gallery.js
  src/js/vendors/tippy.js
Due: eslint --fix

refactor: config files
  .csscomb.json
  .eslintignore
  .stylelintrc.json
Due: none

refactor: scss files
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/radio.scss
  src/scss/themes/dark-theme.scss
  src/scss/themes/default-theme.scss
  src/scss/themes/index.scss
  src/scss/themes/light-theme.scss
  src/scss/themes/theme-switch.scss
  src/scss/themes/theme.scss
  src/scss/utils/bg-image.scss
  src/scss/utils/icons.scss
  src/scss/utils/index.scss
Due: stylelint --fix

refactor: js files
  src/js/helpers/hourRange.js
  src/js/script.js
Due: eslint --fix

refactor: goToBlock.js
  src/js/helpers/goToBlock.js
Due: eslint --fix

refactor: spoilers.scss
  src/scss/components/spoilers.scss
Due: stylelint --fix

fix: fonts.js
  config/gulp-tasks/fonts.js
Due: none

refactor: Add links to documentation
  src/js/vendors/InputMask.js
  src/js/vendors/Isotope.js
Due: eslint --fix

refactor: files in themes folder
  src/scss/themes/default-theme.scss
  src/scss/themes/index.scss
Due: stylelint --fix

refactor: pug files
  src/index.pug
  src/views/layout/layout.pug
Due: none

refactor: Task files
  config/gulp-tasks/html.js
  config/settings/paths.js
  config/utils/reset.js
  config/utils/validators.js
  config/utils/zip.js
Due: none

refactor: webpack and pug files
  config/webpack/plugins/pugPages.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  src/views/layout/layout.pug
Due: none

refactor: .stylelintrc.json
  .stylelintrc.json
Due: none

refactor: js files
  src/js/components/Popup.js
  src/js/components/forms/Select.js
  src/js/components/spoilers.js
  src/js/components/tabs.js
Due: eslint --fix

fix: Dependencies
  package-lock.json
  package.json
Due: none

refactor: node files
  .github/workflows/editorconfig.yml
  .npmrc
  package-lock.json
Due: none

backup
  .github/workflows/editorconfig.yml
  .npmrc
  package-lock.json
Due: none

Path conditions:
  stylelint --fix: (any of: src/scss/**/*.scss) or (any of: *.scss)
  eslint --fix: any of: src/js/**/*.js
