Repository nikkeyl/Sandevistan: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

refactor: Remove extra comments
  config/gulp/fonts.js
  config/gulp/images.js
  svgo.config.js
Due: eslint --fix

fix: .lintstagedrc
  .lintstagedrc
Due: none

refactor: scss files
  src/scss/base/colorsPallete.scss
  src/scss/base/functions.scss
  src/scss/base/mixins.scss
  src/scss/base/null.scss
  src/scss/base/sections.scss
  src/scss/base/variables.scss
  src/scss/components/forms/input.scss
  src/scss/components/forms/radio.scss
  src/scss/components/forms/select.scss
  src/scss/components/header/index.scss
  src/scss/components/popup.scss
  src/scss/components/showMore.scss
  src/scss/components/swiper.scss
  src/scss/style.scss
Due: stylelint --fix

refactor: html.json
  src/components/rrs/html.json
Due: none

refactor: header.html
  src/html/components/header.htm
Due: none

fix: Include 'adaptiveValue' mixin
  src/components/rrc/component-01/c-01.scss
  src/components/rrc/component-02/c-02.scss
  src/components/rrc/component-03/c-03.scss
  src/components/rrc/component-04/c-04.scss
  src/components/rrc/title/title.scss
  src/components/rrs/scss.json
  src/scss/base/fonts/fonts.scss
  src/scss/base/sections.scss
Due: stylelint --fix

refactor: Rename 'templates.scss' to 'placeholders.scss'
  src/scss/base/placeholders.scss
  src/scss/style.scss
Due: stylelint --fix

refactor: scss files
  src/scss/base/container.scss
  src/scss/base/null.scss
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/input.scss
  src/scss/components/forms/radio.scss
  src/scss/components/forms/range.scss
  src/scss/components/forms/rating.scss
  src/scss/components/header/menu.scss
Due: stylelint --fix

refactor: scss files
  src/scss/components/forms/range.scss
Due: stylelint --fix

refactor: Linters
  .eslintrc
  .prettierrc
  .stylelintrc
  package-lock.json
Due: none

refactor: Rename 'build' folder to 'dist'
  .gitignore
  config/settings/paths.js
Due: eslint --fix

fix: webpack.dev.js
  config/webpack/webpack.dev.js
Due: eslint --fix

fix: webpack.prod.js
  config/webpack/webpack.prod.js
Due: eslint --fix

refactor: Structure in config folder
  config/gulp/jsDev.js
  config/webpack/plugins/webPackOutputFile.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
Due: eslint --fix

refactor: Rename 'null.scss' to 'normalize.scss'
  src/scss/base/normalize.scss
  src/scss/style.scss
Due: stylelint --fix

refactor: Rename 'normalize.scss' to 'reset.scss'
  src/scss/base/reset.scss
  src/scss/style.scss
Due: stylelint --fix

fix: linters.js
  config/modules/linters.js
Due: eslint --fix

refactor: Formatting webpack config files
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
Due: eslint --fix

refactor: Formatting js files in config folder
  config/gulp/css.js
  config/gulp/fonts.js
  config/gulp/html.js
  config/gulp/images.js
  config/gulp/jsDev.js
  config/gulp/jsProd.js
  config/gulp/sprite.js
  config/modules/validators.js
  config/modules/zip.js
Due: eslint --fix

refactor: Formatting ftp.js
  config/modules/ftp.js
Due: eslint --fix

refactor: .csscomb.json
  .csscomb.json
Due: none

fix: fonts.js
  config/gulp/fonts.js
Due: eslint --fix

add: pug
  .eslintrc
  config/gulp/html.js
  config/settings/paths.js
  config/settings/plugins.js
  config/webpack/plugins/pugPages.js
  config/webpack/plugins/replaceLoaderOptions.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  env/rrs/pug.json
  package-lock.json
  package.json
  src/html/components/footer.htm
  src/html/components/header.htm
  src/html/helpers/head.htm
  src/html/helpers/js.htm
  src/html/modules/common.htm
  src/html/modules/pagination.htm
  src/html/modules/popup.htm
  src/includes/components/footer.pug
  src/includes/components/header.pug
  src/includes/layout.pug
  src/includes/modules/pagination.pug
  src/includes/modules/popup.pug
  src/includes/modules/preloader.pug
  src/index.html
  src/index.pug
  src/js/components/spollers.js
  src/js/modules/DynAdapt.js
  src/js/modules/MousePRLX.js
  src/js/modules/addLoadedClass.js
  src/js/modules/changeFontSize.js
  src/js/modules/colorScheme.js
  src/js/modules/fullScreenFix.js
  src/js/modules/scroll/Watcher.js
  src/js/modules/scroll/headerScroll.js
  src/js/modules/scroll/pageNavigation.js
  src/js/modules/webp.js
Due: eslint --fix

fix: webpack configs
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
Due: eslint --fix

refactor: pug files
  src/includes/components/footer.pug
  src/includes/components/header.pug
  src/includes/layout.pug
  src/index.pug
Due: none

refactor: pug files
  src/includes/layout.pug
  src/includes/modules/pagination.pug
  src/includes/modules/popup.pug
  src/includes/modules/preloader.pug
Due: none

refactor: Remove unused components
  env/rrc/card/card.htm
  env/rrc/card/card.png
  env/rrc/card/card.scss
  env/rrc/component-01/c-01.htm
  env/rrc/component-01/c-01.scss
  env/rrc/component-01/preview-01.jpg
  env/rrc/component-02/c-02.htm
  env/rrc/component-02/c-02.scss
  env/rrc/component-02/preview-02.jpg
  env/rrc/component-03/c-03.htm
  env/rrc/component-03/c-03.scss
  env/rrc/component-03/preview.png
  env/rrc/component-04/c-04.htm
  env/rrc/component-04/c-04.scss
  env/rrc/component-04/preview.png
  env/rrc/title/title.htm
  env/rrc/title/title.jpg
  env/rrc/title/title.scss
  env/sendmail/phpmailer/Exception.php
  env/sendmail/phpmailer/PHPMailer.php
  env/sendmail/phpmailer/SMTP.php
  env/sendmail/sendmail.php
Due: stylelint --fix

refactor: Formatting js files
  config/gulp/css.js
  config/gulp/fonts.js
  config/gulp/images.js
  config/gulp/jsDev.js
  config/gulp/jsProd.js
  config/gulp/sprite.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
Due: eslint --fix

refactor: Rename folder 'rrs' to 'snippets'
  env/snippets/js.json
  env/snippets/pug.json
  env/snippets/scss.json
Due: none

refactor: pug.json
  env/snippets/pug.json
Due: none

refactor: spollers.js
  src/js/components/spollers.js
Due: eslint --fix

fix: index.pug
  src/index.pug
Due: none

refactor: Rename folder 'includes' to 'pug'
  src/index.pug
  src/pug/components/footer.pug
  src/pug/components/header.pug
  src/pug/layout.pug
  src/pug/modules/pagination.pug
  src/pug/modules/popup.pug
  src/pug/modules/preloader.pug
Due: none

refactor: pug files and snippets for pug
  .vscode/settings.json
  .vscode/snippets/pug.json
  src/pug/components/footer.pug
  src/pug/components/header.pug
  src/pug/layout.pug
  src/pug/modules/pagination.pug
  src/pug/modules/popup.pug
  src/pug/modules/preloader.pug
Due: none

refactor: pug.json
  .vscode/snippets/pug.json
Due: none

fix: pug.json
  .vscode/snippets/pug.json
Due: none

Path conditions:
  stylelint --fix: any of: *.scss
  eslint --fix: any of: *.js
