Repository nikkeyl/Sandevistan: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

refactor: It is forbidden to create package-lock.json
  .npmrc
  package-lock.json
Due: none

refactor: Sorted properties alphabetically in '.npmrc'
  .npmrc
Due: none

fix: sprite.js, svgo.config.js and package.json
  config/gulp/sprite.js
  package.json
  svgo.config.js
Due: none

fix: .editorconfig
  .editorconfig
Due: none

refactor: Remove extra comma in 'sprtie.js'
  config/gulp/sprite.js
Due: none

refactor: Add hard tabs for scss files
  src/scss/base/colorsPallete.scss
  src/scss/base/container.scss
  src/scss/base/icons.scss
  src/scss/base/page.scss
  src/scss/base/placeholders.scss
  src/scss/base/reset.scss
  src/scss/base/sections.scss
  src/scss/base/wrapper.scss
  src/scss/components/breadCrumbs.scss
  src/scss/components/changeFont.scss
  src/scss/components/forms/button.scss
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/input.scss
  src/scss/components/forms/quantity.scss
  src/scss/components/forms/radio.scss
  src/scss/components/forms/range.scss
  src/scss/components/forms/rating.scss
  src/scss/components/forms/select.scss
  src/scss/components/header/burgerIcon.scss
  src/scss/components/header/index.scss
  src/scss/components/header/menu.scss
  src/scss/components/maps.scss
  src/scss/components/marquee.scss
  src/scss/components/pagination.scss
  src/scss/components/popup.scss
  src/scss/components/scrollbar.scss
  src/scss/components/showMore.scss
  src/scss/components/spollers.scss
  src/scss/components/swiper.scss
  src/scss/components/tabs.scss
  src/scss/effects/effects.scss
  src/scss/effects/glow.scss
  src/scss/effects/line.scss
  src/scss/effects/ripple.scss
  src/scss/helpers/fullScreen.scss
  src/scss/helpers/ibg.scss
  src/scss/modules/colorScheme.scss
Due: stylelint --fix

refactor: fonts.js
  config/gulp/fonts.js
Due: none

refactor: .lintstagedrc
  .lintstagedrc
Due: none

fix: deploy script in package.json
  package.json
Due: none

refactor: Move the rapid deployment of the repository to the future update [3.7.0]
  package.json
Due: none

fix: Add paths for 'html' and 'pug' files in 'paths.js'
  config/settings/paths.js
Due: none

refactor: Remoму root and built
  config/settings/paths.js
  config/webpack/plugins/extensionsAndAliases.js
  config/webpack/plugins/webPackOutputFile.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
Due: none

refactor: paths in config folder
  config/settings/paths.js
  config/webpack/plugins/extensionsAndAliases.js
  config/webpack/plugins/webPackOutputFile.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
Due: none

Create LICENSE
  LICENSE
Due: none

fix: deploy.js and .eslintrc
  .eslintrc
  config/modules/deploy.js
Due: none

Create SECURITY.md
  SECURITY.md
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

refactor: SECURITY.md
  SECURITY.md
Due: none

add: Info in package.json
  config/gulp/fonts.js
  package.json
Due: none

refactor: Remove folder libs
  libs/snippets/js.json
  libs/snippets/pug.json
  libs/snippets/scss.json
Due: none

refactor: Remove .npmrc
  .npmrc
Due: none

refactor: Change paths to scss subfolders
  .stylelintignore
  config/gulp/fonts.js
Due: none

refactor: pug files
  src/index.pug
  src/pug/layout/layout.pug
Due: none

fix: .stylelintrc
  .stylelintrc
Due: none

refactor: Add css variables
  src/scss/abstracts/functions.scss
  src/scss/abstracts/mixins.scss
  src/scss/abstracts/variables.scss
  src/scss/base/colors.scss
  src/scss/base/reset.scss
  src/scss/components/map.scss
  src/scss/components/marquee.scss
  src/scss/components/popup.scss
  src/scss/components/scrollbar.scss
  src/scss/components/spollers.scss
  src/scss/components/tabs.scss
  src/scss/layout/breadCrumbs.scss
  src/scss/layout/forms/button.scss
  src/scss/layout/forms/checkbox.scss
  src/scss/layout/forms/input.scss
  src/scss/layout/forms/quantity.scss
  src/scss/layout/forms/radio.scss
  src/scss/layout/forms/range.scss
  src/scss/layout/forms/rating.scss
  src/scss/layout/forms/select.scss
  src/scss/layout/header/burgerIcon.scss
  src/scss/layout/header/menu.scss
  src/scss/style.scss
  src/scss/themes/colorScheme.scss
  src/scss/utils/effects/glow.scss
  src/scss/utils/effects/line.scss
  src/scss/utils/effects/ripple.scss
  src/scss/utils/page.scss
  src/scss/utils/wrapper.scss
  src/scss/vendors/datePicker.scss
  src/scss/vendors/gallery/_lg-variables.scss
  src/scss/vendors/gallery/lg-comments.scss
  src/scss/vendors/gallery/lg-pager.scss
  src/scss/vendors/gallery/lg-share.scss
  src/scss/vendors/range.scss
  src/scss/vendors/simpleBar.scss
  src/scss/vendors/tippy.scss
Due: stylelint --fix

fix: Paths anв css variables
  src/js/libs/range.js
  src/scss/base/root.scss
  src/scss/vendors/datePicker.scss
  src/scss/vendors/gallery/_lg-variables.scss
Due: stylelint --fix, eslint --fix

fix: css variables
  src/scss/abstracts/functions.scss
  src/scss/abstracts/variables.scss
  src/scss/base/reset.scss
  src/scss/base/root.scss
Due: stylelint --fix

refactor: style.scss
  src/scss/style.scss
Due: stylelint --fix

refactor: pug files
  src/pug/components/preloader.pug
  src/pug/layout/layout.pug
Due: none

refactor: Rename swiper.scss to slider.scss
  src/js/libs/Swiper.js
  src/scss/components/slider.scss
Due: stylelint --fix, eslint --fix

refactor: Architecture in config folder
  config/gulp-tasks/css.js
  config/gulp-tasks/fonts.js
  config/gulp-tasks/html.js
  config/gulp-tasks/images.js
  config/gulp-tasks/jsDev.js
  config/gulp-tasks/jsProd.js
  config/gulp-tasks/sprite.js
  config/settings/plugins.js
  config/utils/catchErrors.js
  config/utils/deploy.js
  config/utils/ftp.js
  config/utils/linters.js
  config/utils/reset.js
  config/utils/validators.js
  config/utils/zip.js
  config/webpack/webpack.prod.js
  gulpfile.js
Due: none

fix: imports
  src/scss/layout/forms/checkbox.scss
  src/scss/vendors/datePicker.scss
  src/scss/vendors/gallery/_lg-variables.scss
  src/scss/vendors/simpleBar.scss
  src/scss/vendors/tippy.scss
Due: stylelint --fix

refactor: Remove ration function and add property aspect-ration
  .csscomb.json
  .stylelintrc
  src/scss/abstracts/functions.scss
  src/scss/abstracts/placeholders.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: src/scss/**/*.scss
  eslint --fix: any of: src/js/**/*.js
