Repository nikkeyl/Sandevistan: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

backup
  src/scss/components/forms/radio.scss
Due: stylelint --fix

test
  src/scss/components/forms/button.scss
Due: stylelint --fix

backup
  src/scss/components/forms/button.scss
Due: stylelint --fix

refactor: scss files
  src/scss/base/reset.scss
  src/scss/components/forms/button.scss
  src/scss/components/popup.scss
Due: stylelint --fix

refactor: scss files
  src/scss/base/reset.scss
  src/scss/components/forms/button.scss
  src/scss/components/forms/select.scss
  src/scss/layout/header/hamburger.scss
Due: stylelint --fix

refactor: reset.scss
  src/scss/base/reset.scss
Due: stylelint --fix

fix: reset.scss
  src/scss/base/reset.scss
Due: stylelint --fix

fix: husky
  package.json
Due: none

refactor: Backup .npmrc
  .npmrc
Due: none

refactor: editorconfig.yml
  .github/workflows/editorconfig.yml
Due: none

refactor: Replace eol 'crlf' to 'lf'
  .editorconfig
Due: none

refactor: Rename *rc files
  .eslintrc.json
  .lintstagedrc.json
  .stylelintrc.json
Due: none

refactor: Rename prettierrc
  .prettierrc.json
Due: none

refactor: Add eol 'lf'
  .editorconfig
  src/js/components/spoilers.js
Due: eslint --fix

fix: Convert spaces to tabs
  .husky/_/husky.sh
  config/gulp-tasks/html.js
  config/gulp-tasks/images.js
  config/gulp-tasks/jsDev.js
  config/gulp-tasks/jsProd.js
  config/webpack/plugins/cssLoaderOptions.js
  config/webpack/plugins/pugPages.js
  config/webpack/plugins/replaceLoaderOptions.js
Due: none

fix: package.json
  package.json
Due: none

fix: everything
  src/js/components/map.js
  src/js/effects/glow.js
  src/js/modules/MouseParallax.js
  src/pug/components/preloader.pug
  src/scss/base/reset.scss
  src/scss/utils/placeholders.scss
Due: stylelint --fix, eslint --fix

fix: Select.js and other .js files
  config/gulp-tasks/fonts.js
  src/js/components/Popup.js
  src/js/components/forms/Select.js
Due: eslint --fix

fix: Select.js
  src/js/components/forms/Select.js
Due: eslint --fix

fix: everything
  .ecrc
  package.json
  src/js/components/forms/Select.js
Due: eslint --fix

refactor: Replace '%' to 'vh'
  src/scss/components/popup.scss
Due: stylelint --fix

refactor: scss files
  src/scss/utils/index.scss
  src/scss/utils/page.scss
  src/scss/utils/wrapper.scss
Due: stylelint --fix

fix: catchErrors.js
  config/utils/catchErrors.js
Due: none

refactor: theme.scss
  src/scss/themes/theme.scss
Due: stylelint --fix

refactor: scss files
  src/scss/components/forms/rating.scss
  src/scss/components/forms/select.scss
  src/scss/layout/header/menu.scss
  src/scss/utils/container.scss
Due: stylelint --fix

refactor: Rename folder pug to views
  config/settings/paths.js
  src/index.pug
  src/pug/components/pagination.pug
  src/pug/components/popup.pug
  src/pug/layout/header.pug
  src/pug/layout/layout.pug
  src/views/components/pagination.pug
  src/views/components/popup.pug
  src/views/components/preloader.pug
  src/views/layout/footer.pug
  src/views/layout/header.pug
  src/views/layout/layout.pug
  src/views/layout/sidebar.pug
Due: none

refactor: package.json
  package.json
Due: none

fix: goToBlock.js
  src/js/helpers/goToBlock.js
  src/scss/base/reset.scss
Due: stylelint --fix, eslint --fix

fix: Styles in dev mode
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  src/index.pug
  src/views/layout/layout.pug
Due: none

fix: everything
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  src/scss/components/popup.scss
  src/scss/themes/theme.scss
Due: stylelint --fix

refactor: scss files
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/radio.scss
Due: stylelint --fix

refactor: scss files
  src/scss/components/forms/rating.scss
  src/scss/components/forms/select.scss
Due: stylelint --fix

refactor: everything
  src/js/components/Popup.js
  src/scss/components/breadcrumbs.scss
  src/scss/components/forms/button.scss
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/input.scss
  src/scss/components/forms/quantity.scss
  src/scss/components/forms/radio.scss
  src/scss/components/forms/rating.scss
  src/scss/components/forms/select.scss
  src/scss/components/map.scss
  src/scss/components/pagination.scss
  src/scss/components/popup.scss
  src/scss/components/show-more.scss
  src/scss/components/spoilers.scss
  src/scss/components/tabs.scss
  src/scss/layout/header/hamburger.scss
  src/scss/layout/header/menu.scss
  src/scss/themes/theme.scss
  src/scss/utils/bg-overlay.scss
  src/scss/utils/index.scss
  src/scss/utils/placeholders.scss
  src/scss/utils/wrapper.scss
Due: stylelint --fix, eslint --fix

refactor: root.scss and bg-overlay.scss
  src/scss/base/root.scss
  src/scss/utils/bg-overlay.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: src/scss/**/*.scss
  eslint --fix: any of: src/js/**/*.js
