Repository nikkeyl/Sandevistan: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

refactor: Rename '%user-select' to '%select-none'
  src/scss/base/placeholders.scss
  src/scss/layout/forms/checkbox.scss
  src/scss/layout/forms/range.scss
Due: stylelint --fix

refactor: Remove mixin 'width-height'
  src/scss/abstracts/mixins.scss
  src/scss/base/placeholders.scss
  src/scss/components/map.scss
  src/scss/components/popup.scss
  src/scss/components/scrollbar.scss
  src/scss/components/slider.scss
  src/scss/components/spollers.scss
  src/scss/layout/forms/checkbox.scss
  src/scss/layout/forms/quantity.scss
  src/scss/layout/forms/radio.scss
  src/scss/layout/forms/range.scss
  src/scss/layout/forms/rating.scss
  src/scss/layout/forms/select.scss
  src/scss/layout/header/burgerIcon.scss
  src/scss/layout/header/menu.scss
  src/scss/themes/colorScheme.scss
Due: stylelint --fix

refactor: mixins.scss
  src/scss/abstracts/mixins.scss
Due: stylelint --fix

refactor: Rename scss files to 'kebab-case'
  src/js/vendors/SimpleBar.js
  src/js/vendors/datePicker.js
  src/scss/components/breadcrumbs.scss
  src/scss/components/index.scss
  src/scss/components/show-more.scss
  src/scss/layout/header/burger-icon.scss
  src/scss/layout/header/index.scss
  src/scss/themes/color-scheme.scss
  src/scss/themes/dark-theme.scss
  src/scss/themes/index.scss
  src/scss/themes/light-theme.scss
  src/scss/utils/fullscreen.scss
  src/scss/utils/index.scss
  src/scss/vendors/datepicker.scss
  src/scss/vendors/simplebar.scss
Due: stylelint --fix, eslint --fix

fix: placeholders.scss
  src/scss/base/placeholders.scss
Due: stylelint --fix

fix: reset.scss
  src/scss/base/reset.scss
Due: stylelint --fix

refactor: placeholders.scss
  src/scss/base/placeholders.scss
Due: stylelint --fix

refactor: reset.scss
  src/scss/base/reset.scss
Due: stylelint --fix

refactor: 'variables.scss' and 'reset.scss'
  src/scss/abstracts/variables.scss
  src/scss/base/reset.scss
Due: stylelint --fix

refactor: scss files
  .stylelintignore
  src/scss/abstracts/variables.scss
  src/scss/base/placeholders.scss
  src/scss/utils/container.scss
Due: stylelint --fix

fix: scss files
  src/scss/abstracts/variables.scss
  src/scss/base/placeholders.scss
  src/scss/base/reset.scss
  src/scss/components/marquee.scss
  src/scss/components/scrollbar.scss
  src/scss/components/slider.scss
  src/scss/layout/forms/button.scss
  src/scss/layout/forms/checkbox.scss
  src/scss/layout/forms/index.scss
  src/scss/layout/forms/input.scss
  src/scss/layout/forms/radio.scss
  src/scss/layout/forms/range.scss
  src/scss/layout/grid.scss
  src/scss/themes/color-scheme.scss
  src/scss/themes/dark-theme.scss
  src/scss/themes/light-theme.scss
  src/scss/utils/container.scss
  src/scss/utils/fullscreen.scss
  src/scss/utils/wrapper.scss
Due: stylelint --fix

fix: fonts.js
  config/gulp-tasks/fonts.js
Due: none

fix: Rename 'fonts.scss' to 'font-face.scss'
  src/scss/base/font-face.scss
  src/scss/base/index.scss
  src/scss/base/placeholders.scss
Due: stylelint --fix

refactor: .stylelintigmore
  .stylelintignore
Due: none

fix: scss files
  src/scss/base/font-face.scss
  src/scss/base/index.scss
  src/scss/base/placeholders.scss
  src/scss/base/reset.scss
  src/scss/components/index.scss
  src/scss/components/popup.scss
  src/scss/layout/forms/checkbox.scss
  src/scss/layout/forms/radio.scss
  src/scss/layout/forms/range.scss
  src/scss/layout/header/index.scss
  src/scss/layout/index.scss
  src/scss/pages/index.scss
  src/scss/themes/index.scss
  src/scss/utils/fullscreen.scss
  src/scss/utils/index.scss
Due: stylelint --fix

fix: slider swiper bug
  package.json
  src/scss/components/slider.scss
Due: stylelint --fix

refactor: stylelint
  .stylelintignore
  .stylelintrc
Due: none

fix: range.scss
  src/scss/layout/forms/range.scss
Due: stylelint --fix

refactor: scss files
  src/scss/layout/forms/checkbox.scss
  src/scss/layout/forms/radio.scss
  src/scss/layout/header/menu.scss
  src/scss/utils/container.scss
Due: stylelint --fix

fix: header class
  src/scss/layout/header/index.scss
Due: stylelint --fix

refactor: menu.scss and select.scss
  src/scss/layout/forms/select.scss
  src/scss/layout/header/menu.scss
Due: stylelint --fix

fix: Rename 'spollers' to 'spoilers'
  src/js/app.js
  src/js/components/spoilers.js
  src/js/components/spollers.js
  src/js/components/tabs.js
  src/scss/components/index.scss
  src/scss/components/spoilers.scss
Due: stylelint --fix, eslint --fix

refactor: Remove space between tags
  src/pug/components/preloader.pug
Due: none

fix: 'tabs.js' and 'tabs.scss'
  src/js/components/tabs.js
  src/scss/components/tabs.scss
Due: stylelint --fix, eslint --fix

fix: stylelintignore
  .stylelintignore
Due: none

refactor: Rename 'burger-icon' to 'hamburger'
  src/js/app.js
  src/js/components/menu.js
  src/pug/layout/header.pug
  src/scss/layout/header/hamburger.scss
  src/scss/layout/header/index.scss
Due: stylelint --fix, eslint --fix

refactor: tabs.js
  src/js/components/tabs.js
Due: eslint --fix

fix: menu.js
  src/js/components/menu.js
Due: eslint --fix

fix: preloader.pug
  src/pug/components/preloader.pug
Due: none

fix: tabs.scss
  src/scss/components/tabs.scss
Due: stylelint --fix

fix: wrapper.scss
  src/scss/utils/wrapper.scss
Due: stylelint --fix

refactor: scss files
  src/scss/utils/body.scss
  src/scss/utils/index.scss
Due: stylelint --fix

refactor: Move forms to components folder
  src/js/vendors/range.js
  src/scss/base/reset.scss
  src/scss/components/forms/button.scss
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/index.scss
  src/scss/components/forms/input.scss
  src/scss/components/forms/quantity.scss
  src/scss/components/forms/radio.scss
  src/scss/components/forms/range.scss
  src/scss/components/forms/rating.scss
  src/scss/components/forms/select.scss
  src/scss/components/index.scss
  src/scss/layout/index.scss
Due: stylelint --fix, eslint --fix

fix: aria-expanded
  src/js/components/menu.js
  src/pug/layout/header.pug
  src/scss/layout/header/hamburger.scss
Due: stylelint --fix, eslint --fix

refactor: Rename 'menu.js' to 'hamburger.js'
  src/js/app.js
  src/js/components/hamburger.js
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: src/scss/**/*.scss
  eslint --fix: any of: src/js/**/*.js
