Repository nikkeyl/Sandevistan: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

refactor: wrapper.scss
  src/scss/utils/wrapper.scss
Due: stylelint --fix

refactor: Remove unused function
  .stylelintignore
  src/scss/abstracts/functions.scss
  src/scss/abstracts/mixins.scss
  src/scss/utils/container.scss
Due: stylelint --fix

refactor: Add new properties in properties-order config
  .csscomb.json
  .stylelintrc
Due: none

refactor: container.scss
  src/scss/utils/container.scss
Due: stylelint --fix

refactor: Removed vanilla-lazyload library
  package.json
  src/js/app.js
  src/js/libs/LazyLoad.js
Due: eslint --fix

refactor: .eslintignore
  .eslintignore
Due: none

refactor: variables.scss
  src/scss/abstracts/variables.scss
Due: stylelint --fix

fix: reset.scss
  src/scss/base/reset.scss
Due: stylelint --fix

refactor: mixin.scss
  src/scss/abstracts/mixins.scss
Due: stylelint --fix

fix: imports in gallery.js
  src/js/libs/gallery.js
Due: eslint --fix

fix: css variables
  src/scss/base/reset.scss
  src/scss/components/popup.scss
  src/scss/vendors/datePicker.scss
  src/scss/vendors/gallery/_lg-theme-default.scss
  src/scss/vendors/gallery/_lg-variables.scss
  src/scss/vendors/gallery/lg-comments.scss
  src/scss/vendors/gallery/lg-pager.scss
  src/scss/vendors/gallery/lg-share.scss
  src/scss/vendors/gallery/lg-video.scss
  src/scss/vendors/range.scss
  src/scss/vendors/simpleBar.scss
  src/scss/vendors/tippy.scss
Due: stylelint --fix

fix: Added a spare font to the font connection
  config/gulp-tasks/fonts.js
Due: none

refactor: scss files
  src/scss/base/reset.scss
  src/scss/utils/wrapper.scss
Due: stylelint --fix

fix: .stylelintrc
  .stylelintrc
Due: none

refactor: scss folder and files
  src/scss/base/reset.scss
  src/scss/components/breadCrumbs.scss
  src/scss/components/pagination.scss
  src/scss/layout/grid.scss
  src/scss/style.scss
Due: stylelint --fix

refactor: Rename folder libs to vendors
  src/js/app.js
  src/js/vendors/InputMask.js
  src/js/vendors/Isotope.js
  src/js/vendors/Marquee.js
  src/js/vendors/SimpleBar.js
  src/js/vendors/Swiper.js
  src/js/vendors/Typed.js
  src/js/vendors/datePicker.js
  src/js/vendors/gallery.js
  src/js/vendors/range.js
  src/js/vendors/tippy.js
Due: eslint --fix

refactor: scss files
  src/scss/base/placeholders.scss
  src/scss/layout/grid.scss
  src/scss/style.scss
  src/scss/themes/colorScheme.scss
  src/scss/themes/darkTheme.scss
  src/scss/themes/lightTheme.scss
Due: stylelint --fix

refactor: reset.scss
  src/scss/base/reset.scss
Due: stylelint --fix

refactor: Add comments in js files
  config/gulp-tasks/css.js
  config/settings/plugins.js
  config/utils/deploy.js
Due: none

refactor: scss folder
  src/scss/style.scss
  src/scss/utils/effects/effects.scss
  src/scss/utils/effects/glow.scss
  src/scss/utils/effects/line.scss
  src/scss/utils/effects/ripple.scss
Due: stylelint --fix

refactor: Commented out extra @forward
  src/scss/components/index.scss
  src/scss/layout/forms/index.scss
  src/scss/layout/index.scss
  src/scss/style.scss
  src/scss/utils/index.scss
Due: stylelint --fix

refactor: Remove unused dependency in package.json
  package.json
Due: none

refactor: Remove comments
  config/gulp-tasks/css.js
  config/settings/plugins.js
  config/utils/deploy.js
Due: none

fix: Add 'max-width' for img tag
  src/scss/abstracts/mixins.scss
  src/scss/base/placeholders.scss
  src/scss/base/reset.scss
Due: stylelint --fix

fix: mixins.scss
  src/scss/abstracts/mixins.scss
Due: stylelint --fix

fix: variables.scss
  src/scss/abstracts/variables.scss
Due: stylelint --fix

fix: Sort alphabetically
  .browserslistrc
  .editorconfig
Due: none

refator: scss files
  src/scss/style.scss
  src/scss/themes/index.scss
Due: stylelint --fix

fix: Replace the '.content' class with '.page'
  src/index.pug
  src/pug/layout/layout.pug
Due: none

fix: Remove unused dependency
  package.json
Due: none

fix: Rename 'layout.pug' to 'grid.pug'
  src/index.pug
  src/pug/layout/grid.pug
Due: none

refactor: Move 'pagination.pug'
  src/pug/components/pagination.pug
Due: none

fix: scss files
  src/scss/abstracts/mixins.scss
  src/scss/base/placeholders.scss
Due: stylelint --fix

refactor: range.scss
  src/scss/layout/forms/range.scss
Due: stylelint --fix

Path conditions:
  stylelint --fix: any of: src/scss/**/*.scss
  eslint --fix: any of: src/js/**/*.js
