Repository nikkeyl/Sandevistan: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
	"src/scss/**/*.scss": "stylelint --fix",
	"src/js/**/*.js": "eslint --fix"
}

refactor: 'colorScheme.js' and 'color-scheme.scss'
  src/js/modules/colorScheme.js
  src/scss/themes/color-scheme.scss
Due: stylelint --fix, eslint --fix

refactor: 'Marquee.js' and 'marquee.scss'
  src/js/vendors/Marquee.js
  src/scss/components/marquee.scss
Due: stylelint --fix, eslint --fix

fix: input.scss
  src/scss/components/forms/input.scss
Due: stylelint --fix

refactor: stylelint
  .stylelintrc
Due: none

fix: hamburger.js
  src/js/components/hamburger.js
Due: eslint --fix

refactor: index.scss in components folder
  src/scss/components/index.scss
Due: stylelint --fix

refactor: Remove unused files and vendors
  package.json
  src/js/app.js
  src/js/vendors/Marquee.js
  src/scss/components/index.scss
  src/scss/components/marquee.scss
  src/scss/components/scrollbar.scss
Due: stylelint --fix, eslint --fix

refactor: Move vendors files in vedors folder
  .stylelintignore
  src/js/vendors/Swiper.js
  src/js/vendors/range.js
  src/scss/components/index.scss
  src/scss/vendors/range-min.scss
  src/scss/vendors/swiper.scss
Due: stylelint --fix, eslint --fix

refactor: hamburger.js
  src/js/components/hamburger.js
Due: eslint --fix

refactor: scss files
  src/scss/base/index.scss
  src/scss/themes/color-scheme.scss
  src/scss/themes/dark-theme.scss
  src/scss/themes/index.scss
  src/scss/themes/light-theme.scss
  src/scss/themes/theme.scss
  src/scss/utils/index.scss
  src/scss/utils/placeholders.scss
Due: stylelint --fix

refactor: everything
  src/scss/components/breadcrumbs.scss
  src/scss/components/forms/button.scss
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/input.scss
  src/scss/components/forms/quantity.scss
  src/scss/components/forms/radio.scss
  src/scss/components/forms/rating.scss
  src/scss/components/forms/select.scss
  src/scss/components/map.scss
  src/scss/components/pagination.scss
  src/scss/components/popup.scss
  src/scss/components/show-more.scss
  src/scss/components/spoilers.scss
  src/scss/components/tabs.scss
  src/scss/layout/footer.scss
  src/scss/layout/header/hamburger.scss
  src/scss/layout/header/menu.scss
  src/scss/layout/sidebar.scss
  src/scss/pages/home.scss
  src/scss/themes/theme.scss
  src/scss/utils/fullscreen.scss
  src/scss/vendors/range-min.scss
Due: stylelint --fix

refactor: sidebar.pug
  src/pug/layout/sidebar.pug
Due: none

refactor: mixins.scss
  src/scss/abstracts/mixins.scss
Due: stylelint --fix

refactor: scss files
  src/scss/layout/footer.scss
  src/scss/layout/index.scss
  src/scss/utils/index.scss
  src/scss/utils/utils.scss
Due: stylelint --fix

fix: Rename color variables
  src/scss/base/reset.scss
  src/scss/base/root.scss
  src/scss/components/breadcrumbs.scss
  src/scss/components/forms/button.scss
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/input.scss
  src/scss/components/forms/quantity.scss
  src/scss/components/forms/radio.scss
  src/scss/components/forms/rating.scss
  src/scss/components/forms/select.scss
  src/scss/components/map.scss
  src/scss/components/popup.scss
  src/scss/components/spoilers.scss
  src/scss/components/tabs.scss
  src/scss/layout/header/hamburger.scss
  src/scss/layout/header/menu.scss
  src/scss/themes/theme.scss
  src/scss/vendors/range-min.scss
Due: stylelint --fix

fix: everything
  src/scss/components/breadcrumbs.scss
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/input.scss
  src/scss/components/forms/radio.scss
  src/scss/components/forms/select.scss
  src/scss/components/popup.scss
  src/scss/components/spoilers.scss
  src/scss/components/tabs.scss
Due: stylelint --fix

refactor: 'hamburger.js' and 'hamburger.scss'
  src/js/components/hamburger.js
  src/js/helpers/goToBlock.js
  src/scss/layout/header/hamburger.scss
  src/scss/layout/header/menu.scss
Due: stylelint --fix, eslint --fix

fix: scss files
  src/scss/base/typography.scss
  src/scss/components/popup.scss
  src/scss/layout/header/hamburger.scss
  src/scss/layout/header/menu.scss
Due: stylelint --fix

fix: popup.scss and hamburger.scss
  src/scss/components/popup.scss
  src/scss/layout/header/hamburger.scss
Due: stylelint --fix

fix: js and pug files
  src/js/components/hamburger.js
  src/js/helpers/bodyLockToggle.js
  src/js/helpers/goToBlock.js
  src/js/helpers/nodeList.js
  src/pug/layout/header.pug
Due: eslint --fix

refactor: 'showmore.js' and 'showmore.scss'
  src/js/components/showMore.js
  src/scss/components/show-more.scss
Due: stylelint --fix, eslint --fix

fix: showmore component
  src/js/components/showMore.js
  src/scss/components/show-more.scss
Due: stylelint --fix, eslint --fix

refactor: 'colorScheme.js' and 'theme.scss'
  src/js/modules/colorScheme.js
  src/scss/themes/theme.scss
Due: stylelint --fix, eslint --fix

refactor: scss files
  src/scss/base/reset.scss
  src/scss/components/forms/select.scss
Due: stylelint --fix

refactor: Remove unused 'CustomEvent'
  src/js/components/Popup.js
  src/js/components/forms/Select.js
  src/js/components/forms/formSubmit.js
  src/js/helpers/slideDown.js
  src/js/helpers/slideUp.js
Due: eslint --fix

fix: select.scss
  src/scss/components/forms/select.scss
Due: stylelint --fix

refactor: Rename function 'gotoBlock' to 'goToBlock'
  src/js/components/forms/formSubmit.js
  src/js/helpers/goToBlock.js
  src/js/modules/scroll/pageNavigation.js
Due: eslint --fix

fix: reset.scss
  src/scss/base/reset.scss
Due: stylelint --fix

fix: checkbox and radio
  .stylelintignore
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/radio.scss
Due: stylelint --fix

refactor: reset.scss
  src/scss/base/reset.scss
Due: stylelint --fix

refactor: Add 'sr-only.scss' for accessibility
  src/scss/utils/index.scss
  src/scss/utils/sr-only.scss
Due: stylelint --fix

fix: Typos
  config/gulp-tasks/html.js
  gulpfile.js
  package.json
  src/js/app.js
  src/js/components/forms/Select.js
  src/js/components/forms/formInit.js
  src/js/components/tabs.js
  src/js/helpers/slideDown.js
  src/js/helpers/slideUp.js
  src/js/modules/DynAdapt.js
  src/js/modules/MousePRLX.js
  src/js/modules/MouseParallax.js
  src/js/modules/fullScreenFix.js
  src/js/vendors/InputMask.js
  src/js/vendors/SimpleBar.js
  src/js/vendors/Swiper.js
  src/js/vendors/datePicker.js
  src/pug/components/preloader.pug
  src/pug/layout/grid.pug
  src/scss/abstracts/mixins.scss
  src/scss/base/reset.scss
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/input.scss
  src/scss/components/forms/radio.scss
  src/scss/utils/sr-only.scss
Due: stylelint --fix, eslint --fix

fix: sr-only
  src/scss/utils/sr-only.scss
Due: stylelint --fix

fix: spoilers.js
  src/js/components/spoilers.js
Due: eslint --fix

refactor: Replace 'rem' to 'em'
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/radio.scss
Due: stylelint --fix

refactor: rating module
  src/js/components/forms/rating.js
  src/scss/components/forms/rating.scss
Due: stylelint --fix, eslint --fix

refactor: spoilers module
  src/js/components/spoilers.js
  src/scss/components/spoilers.scss
Due: stylelint --fix, eslint --fix

refactor: Remove extra width and height property
  src/pug/components/preloader.pug
  src/scss/abstracts/mixins.scss
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/quantity.scss
  src/scss/components/forms/select.scss
  src/scss/components/map.scss
  src/scss/components/popup.scss
Due: stylelint --fix

refactor: wrapper.scss
  src/scss/utils/wrapper.scss
Due: stylelint --fix

refactor: Add 'bg-image' class
  src/scss/utils/bg-image.scss
  src/scss/utils/index.scss
  src/scss/utils/placeholders.scss
Due: stylelint --fix
