Repository nikkeyl/Sandevistan: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

.lintstagedrc:

{
	"src/scss/**/*.scss": "stylelint --fix",
	"src/js/**/*.js": "eslint --fix"
}

refactor: fullscreen selector
  src/scss/utils/fullscreen.scss
  src/scss/utils/placeholders.scss
Due: stylelint --fix

refactor: Rename 'utils.scss' to 'lock.scss'
  src/scss/utils/index.scss
  src/scss/utils/lock.scss
Due: stylelint --fix

refactor: bg-image.scss
  src/scss/utils/bg-image.scss
Due: stylelint --fix

refactor: Backup old name
  src/index.pug
  src/pug/layout/layout.pug
Due: none

refactor: '.pug' files
  src/index.pug
  src/pug/components/pagination.pug
  src/pug/components/popup.pug
  src/pug/layout/header.pug
  src/pug/layout/layout.pug
Due: none

refactor: everything
  src/js/components/forms/Select.js
  src/scss/components/forms/checkbox.scss
  src/scss/components/forms/radio.scss
  src/scss/components/forms/select.scss
Due: stylelint --fix, eslint --fix

refactor: Add github action 'stylelint'
  .github/workflows/stylelint.yml
Due: none

refactor: Backup package-lock.json
  package-lock.json
Due: none

refactor: package.json
  package.json
Due: none

refactor: stylelint.yml
  .github/workflows/stylelint.yml
Due: none

fix: stylelint.yml
  .github/workflows/stylelint.yml
Due: none

refactor: '.yml' files
  .editorconfig
  .github/workflows/stylelint.yml
Due: none

refactor: Add actions and editorconfig-checker
  .github/workflows/editorconfig.yml
  .github/workflows/eslint.yml
  package-lock.json
  package.json
Due: none

refactor: Update dependencies
  package-lock.json
  package.json
Due: none

fix: package.json
  package.json
Due: none

refactor: Remove 'ftp' module
  config/settings/configFTP.js
  config/settings/paths.js
  config/utils/ftp.js
  gulpfile.js
  package.json
Due: none

fix: Actions
  .github/workflows/editorconfig.yml
  .github/workflows/eslint.yml
  .github/workflows/stylelint.yml
Due: none

refactor: editorconfig.yml
  .github/workflows/editorconfig.yml
Due: none

refactor: .stylelintrc
  .stylelintrc
Due: none

refactor: reset.scss
  src/scss/base/reset.scss
Due: stylelint --fix

refactor: Translated Russian words into English
  src/js/components/forms/Select.js
  src/js/components/forms/formSubmit.js
  src/js/components/forms/rating.js
  src/js/vendors/Swiper.js
  src/js/vendors/datePicker.js
Due: eslint --fix

refactor: Variables in pug files
  src/index.pug
  src/pug/layout/layout.pug
Due: none

Delete LICENSE
  LICENSE
Due: none

refactor: gulpfile.js
  gulpfile.js
Due: none

refactor: gitingore
  .gitignore
Due: none

refactor: Remove 'SECURITY.md'
  SECURITY.md
Due: none

refactor: Remove .npmrc
  .npmrc
Due: none

fix: Actions and editorconfig
  .editorconfig
  .github/workflows/editorconfig.yml
  .github/workflows/eslint.yml
  .github/workflows/stylelint.yml
Due: none

refactor: Replace the tab in two spaces with two spaces
  .csscomb.json
  .eslintrc
  .lintstagedrc
  .prettierrc
  .stylelintrc
  package-lock.json
  package.json
Due: none

test
  src/scss/components/forms/radio.scss
Due: stylelint --fix
